

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


   /* ==========================================================================
   fonts
   ========================================================================== */
   
   /* font-family: 'Roboto', sans-serif;
   font-family: 'Montserrat', sans-serif;
   font-family: 'Playfair Display', serif; */

/* ==========================================================================
   Global styles
   ========================================================================== */

   html, body{
    height: 100%;
    margin: 0;
    padding: 0;
    background: rgb(255,253,237);
}

h1, .h1, h2, .h2, h3, .h3 {
    margin: 0;
}
 




/* ==========================================================================
Landing page - Hero Section
========================================================================== */

.hero-section{
    width: 100%;
    height: 100%;
    background: pink;
}


/* ==========================================================================
Landing page - nav Section
========================================================================== */

.nav-wrapper25{
    height: 100vh;
}

.navbox25{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.nav25 li{
    display: block;
}








/* ==========================================================================
Screen above 576px - sm
========================================================================== */
@media screen and (min-width: 576px) {
/* ==========================================================================
Header section
========================================================================== */





/* ==========================================================================
Hero Section
========================================================================== */




/* ==========================================================================
Author's custom styles
========================================================================== */


}







/* ==========================================================================
Screen above 768px - md
========================================================================== */
@media screen and (min-width: 768px) {
 /* ==========================================================================
 Navigation
 ========================================================================== */



 /* ==========================================================================
About Us Section
========================================================================== */




  /* ==========================================================================
 Footer
 ========================================================================== */




 /* ==========================================================================
 Author's custom styles
 ========================================================================== */








 }



 /* ==========================================================================
Screen above 992px - lg
========================================================================== */
@media screen and (min-width: 992px) {
 /* ==========================================================================
 Author's custom styles
 ========================================================================== */

   /* ==========================================================================
Services Umbrella Section
========================================================================== */



 /* ==========================================================================
 Author's custom styles
 ========================================================================== */




 /* ==========================================================================
 Author's custom styles
 ========================================================================== */





 }





/* ==========================================================================
Author's custom styles
========================================================================== */





/* ==========================================================================
Author's custom styles
========================================================================== */













